.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: inline-block; 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.links{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 1000px;
  display: inline-flex;
}

.link{
  color: #333;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width: 160px;
}

:hover{
  opacity: 1;
}

.link.active{
  color: darkslategray;
  font-weight: bold;
}

